* {
    box-sizing: border-box;
  }
  
  html {
    background-color: #0c323d;
    color: #ffffff;
    font-family: monospace;
  }
  
  body {
    max-width: 700px;
  }
  
  p {
    margin: 0;
    width: 1%;
    padding: 0 1%;
    font-size: 16px;
    line-height: 1.5;
    float: left;
  }
  
  .input p {
    margin-right: 1%;
  }
  
  
  .output p {
    width: 100%;
    margin-bottom: 10px; /* Adicionar margem inferior para separar as saídas */
  }
  
  .input input {
    width: auto; 
    float: left;
    border: none;
    font-size: 18px;
    line-height: 1.5;
    font-family: monospace;
    padding: 5px;
    background: #0c323d;
    color: #809089;* {
      box-sizing: border-box;
    }
    
    html {
      background-color: #0c323d;
      color: #ffffff;
      font-family: monospace;
    }
    
    body {
      max-width: 700px;
    }
    
    p {
      margin: 0;
      width: 1%;
      padding: 0 1%;
      font-size: 16px;
      line-height: 1.5;
      float: left;
    }
    
    .input p {
      margin-right: 1%;
    }
    
    .output p {
      width: 100%;
    }
    
    .input input {
      width: 96%;
      float: left;
      border: none;
      font-size: 16px;
      line-height: 1.5;
      font-family: monospace;
      padding: 0;
      background: #0c323d;
      color: #ffffff;
    }
    
  }

  