@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');

.vendas li {
    display: inline-block;
    background-color: #ffffff;
    text-align: center;
    width: 21%;
    vertical-align: top;
    margin: 0 1.5% 20px 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}
.vendas h2, .vendas-descricao, .vendas-preco {
    color: #000000;
}
.vendas li {
    height: 230px;
}
.vendas li:hover {
    transform: scale(1.1);
}

.imagem-1vendas{
    width: 100px;
}
.vendas {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
    margin-bottom: 90px;
    font-family: 'Instrument Serif', serif;
    
}
.vendas a {
  text-decoration: none;
}
.vendas h2 {
    font-size: 30px;
    font-weight: bold;
}

.vendas-descricao {
    font-size: 20px;
}

.vendas-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.vendas li:hover {
    border-color: #1fac03;
}

.vendas li:active {
    border-color: #AAAAAA;
    border-width: 1px;
}

.vendas li:hover h2 {
    font-size: 22px;
}

