body {
  background-color: #0c323d;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 0; /* Remova margens padrão */
  padding: 20px; /* Adicione algum espaçamento interno */
}

.inputGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.inputGroup input {
  margin: 0 7px 0 0; /* Espaçamento à direita dos inputs */
  padding-right: 10px; /* Espaçamento interno à direita dos inputs */
}

#out {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

h1 {
  display: inline-block;
}

p {
  font-size: 25px;
}

input {
  width: 40px; /* Aumente um pouco a largura dos inputs */
}
