* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(201, 201, 201);

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

p {
    font-size: 18px;
    font-weight: 700;
}

.ion-header {
    font-size: 42px;
}

.filho1 {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.filho2 {
    flex-grow: 4;   


    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 250px;
}

.filho3 {
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.vermelho {
    background-color: red;
}

.azul {
    background-color: rgb(0, 162, 255);
}

.verde {
    background-color: rgb(207, 255, 239);
}